<div class="gameover">
  <div class="scoreResult">
    <h2 class="scoreResult__title">Your Score</h2>
    <div class="scoreResult__points">
      <p><span id="result">199955</span><br />Points</p>
    </div>
  </div>
  <div class="submitScore">
    <h2 class="submitScore__title">Add your Score to the Scoreboard</h2>
    <form>
      <label class="submitScore__label" for="name">Enter your Name</label>
      <input type="text" name="name" maxlength="16" />
      <div class="submitScore__error">
        <h3>Please resolve following errors:</h3>
        <ul class="submitScore__errorList"></ul>
      </div>
      <p class="submitScore__label">Choose your Avatar</p>
      <div class="submitScore__avatarContainer">
        <input type="radio" name="avatar" value="1" id="avatar1" checked />
        <label for="avatar1"></label>
        <input type="radio" name="avatar" value="2" id="avatar2" />
        <label for="avatar2"></label>
        <input type="radio" name="avatar" value="3" id="avatar3" />
        <label for="avatar3"></label>
        <input type="radio" name="avatar" value="4" id="avatar4" />
        <label for="avatar4"></label>
        <input type="radio" name="avatar" value="5" id="avatar5" />
        <label for="avatar5"></label>
        <input type="radio" name="avatar" value="6" id="avatar6" />
        <label for="avatar6"></label>
        <input type="radio" name="avatar" value="7" id="avatar7" />
        <label for="avatar7"></label>
        <input type="radio" name="avatar" value="8" id="avatar8" />
        <label for="avatar8"></label>
        <input type="radio" name="avatar" value="9" id="avatar9" />
        <label for="avatar9"></label>
        <input type="radio" name="avatar" value="10" id="avatar10" />
        <label for="avatar10"></label>
        <input type="radio" name="avatar" value="11" id="avatar11" />
        <label for="avatar11"></label>
        <input type="radio" name="avatar" value="12" id="avatar12" />
        <label for="avatar12"></label>
      </div>
      <button type="submit" id="submitScore">Submit Score</button>
    </form>
  </div>
  <div class="gameover__next">
    <button>Show Scoreboard</button>
    <button>New Game</button>
  </div>
</div>
