<div class="info info--hide">
  <h2>About</h2>
  <h3>Points</h3>
  <p>Points are counted in the following pattern:</p>
  <table>
    <tr>
      <td><em>correct answer with:</em></td>
      <td></td>
    </tr>
    <tr>
      <td>3 lives</td>
      <td>10 points</td>
    </tr>
    <tr>
      <td>2 lives</td>
      <td>8 points</td>
    </tr>
    <tr>
      <td>1 live</td>
      <td>6 points</td>
    </tr>
  </table>
  <h3>Infos</h3>
  <p>
    This game was made as a fun sideproject for my
    <a href="https://www.stefanturner.ch">Portfolio Website</a>. Offensive,
    abusive or hatefull usernames on scoreboard will be deleted. Highscorelist
    may be deleted, modified or reset at any time.<br /><br />Questions by
    <a href="https://the-trivia-api.com/">the-trivia-api.com</a>
  </p>
</div>
