<div class="question">
  <p class="question__category">Geography</p>
  <p class="question__question">What does the flag of Norway look like?</p>
  <div class="question__answersContainer">
    <button class="question__answer question__answer--correct">
      Three equal vertical bands of green, yellow and red.
    </button>
    <button class="question__answer question__answer--wrong">
      Red with a yellow sun having eight broadening rays extending to the edges.
    </button>
    <button class="question__answer question__answer--correctAnswer">
      Red with a blue cross outlined in white.
    </button>
    <button class="question__answer">
      White with a red and blue yin yang symbol in the center.
    </button>
  </div>
  <div class="question__resultContainer">
    <p class="question__resultMessage">
      Perfect<br />
      Thats Correct!
    </p>
    <button class="question__next">Next Question</button>
  </div>
</div>
