<div class="sb">
  <button class="sb__close"><span></span><span></span></button>
  <div class="sb__top">
    <div class="sb__top3 sb__top3--second">
      <img src="../../../assets/images/avatars/avatar-1-2x.png" />
      <p class="sb__top--rank">2</p>
      <p class="sb__top--name">stef281</p>
      <p class="sb__top--points">220 Points</p>
    </div>
    <div class="sb__top3 sb__top3--first">
      <p class="sb__top--rank">1</p>
      <p class="sb__top--name">HansliHans</p>
      <p class="sb__top--points">220 Points</p>
      <img src="../../../assets/images/avatars/avatar-12-2x.png" />
    </div>
    <div class="sb__top3 sb__top3--third">
      <img src="../../../assets/images/avatars/avatar-5-2x.png" />
      <p class="sb__top--rank">3</p>
      <p class="sb__top--name">stef281</p>
      <p class="sb__top--points">220 Points</p>
    </div>
  </div>
  <div class="sb__list">
    <div class="sb__item">
      <p class="sb__item--rank">4.</p>
      <div class="sb__item--container">
        <img src="../../../assets/images/avatars/avatar-7-2x.png" />
        <p class="sb__item--name">Anon489489</p>
        <p class="sb__item--points">130 P</p>
      </div>
    </div>
    <div class="sb__item">
      <p class="sb__item--rank">4.</p>
      <div class="sb__item--container">
        <img src="../../../assets/images/avatars/avatar-7-2x.png" />
        <p class="sb__item--name">Anon489489</p>
        <p class="sb__item--points">130 P</p>
      </div>
    </div>
    <div class="sb__item">
      <p class="sb__item--rank">4.</p>
      <div class="sb__item--container">
        <img src="../../../assets/images/avatars/avatar-7-2x.png" />
        <p class="sb__item--name">Anon489489</p>
        <p class="sb__item--points">130 P</p>
      </div>
    </div>
    <div class="sb__item">
      <p class="sb__item--rank">4.</p>
      <div class="sb__item--container">
        <img src="../../../assets/images/avatars/avatar-7-2x.png" />
        <p class="sb__item--name">Anon489489</p>
        <p class="sb__item--points">130 P</p>
      </div>
    </div>
    <div class="sb__item">
      <p class="sb__item--rank">4.</p>
      <div class="sb__item--container">
        <img src="../../../assets/images/avatars/avatar-7-2x.png" />
        <p class="sb__item--name">Anon489489</p>
        <p class="sb__item--points">130 P</p>
      </div>
    </div>
    <div class="sb__item">
      <p class="sb__item--rank">4.</p>
      <div class="sb__item--container">
        <img src="../../../assets/images/avatars/avatar-7-2x.png" />
        <p class="sb__item--name">Anon489489</p>
        <p class="sb__item--points">130 P</p>
      </div>
    </div>
    <div class="sb__item">
      <p class="sb__item--rank">4.</p>
      <div class="sb__item--container">
        <img src="../../../assets/images/avatars/avatar-7-2x.png" />
        <p class="sb__item--name">Anon489489</p>
        <p class="sb__item--points">130 P</p>
      </div>
    </div>
    <div class="sb__item">
      <p class="sb__item--rank">4.</p>
      <div class="sb__item--container">
        <img src="../../../assets/images/avatars/avatar-7-2x.png" />
        <p class="sb__item--name">Anon489489</p>
        <p class="sb__item--points">130 P</p>
      </div>
    </div>
    <div class="sb__item">
      <p class="sb__item--rank">4.</p>
      <div class="sb__item--container">
        <img src="../../../assets/images/avatars/avatar-7-2x.png" />
        <p class="sb__item--name">Anon489489</p>
        <p class="sb__item--points">130 P</p>
      </div>
    </div>
    <div class="sb__item">
      <p class="sb__item--rank">4.</p>
      <div class="sb__item--container">
        <img src="../../../assets/images/avatars/avatar-7-2x.png" />
        <p class="sb__item--name">Anon489489</p>
        <p class="sb__item--points">130 P</p>
      </div>
    </div>
    <div class="sb__item">
      <p class="sb__item--rank">4.</p>
      <div class="sb__item--container">
        <img src="../../../assets/images/avatars/avatar-7-2x.png" />
        <p class="sb__item--name">Anon489489</p>
        <p class="sb__item--points">130 P</p>
      </div>
    </div>
  </div>
</div>
