<div class="submitScore">
  <h2 class="submitScore__title">Add your Score to the leaderboard</h2>
  <form>
    <label class="submitScore__label" for="name">Enter your Name</label>
    <input type="text" name="name" maxlength="16" />
    <p class="submitScore__label">Choose your Avatar</p>
    <div class="submitScore__avatarContainer">
      <input type="radio" name="avatar" id="avatar1" checked />
      <label for="avatar1"></label>
      <input type="radio" name="avatar" id="avatar2" />
      <label for="avatar2"></label>
      <input type="radio" name="avatar" id="avatar3" />
      <label for="avatar3"></label>
      <input type="radio" name="avatar" id="avatar4" />
      <label for="avatar4"></label>
      <input type="radio" name="avatar" id="avatar5" />
      <label for="avatar5"></label>
      <input type="radio" name="avatar" id="avatar6" />
      <label for="avatar6"></label>
      <input type="radio" name="avatar" id="avatar7" />
      <label for="avatar7"></label>
      <input type="radio" name="avatar" id="avatar8" />
      <label for="avatar8"></label>
      <input type="radio" name="avatar" id="avatar9" />
      <label for="avatar9"></label>
      <input type="radio" name="avatar" id="avatar10" />
      <label for="avatar10"></label>
      <input type="radio" name="avatar" id="avatar11" />
      <label for="avatar11"></label>
      <input type="radio" name="avatar" id="avatar12" />
      <label for="avatar12"></label>
    </div>
    <button type="submit">Submit Score</button>
  </form>
</div>
