@font-face {
  font-family: luckiestGuy;
  src: url(../assets/fonts/LuckiestGuy-Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: poppins_light;
  src: url(../assets/fonts/Poppins-ExtraLight.woff2);
  font-weight: 200;
}

@font-face {
  font-family: poppins_regular;
  src: url(../assets/fonts/Poppins-Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: poppins_semi_bold;
  src: url(../assets/fonts/Poppins-SemiBold.woff2);
  font-weight: 600;
}

@font-face {
  font-family: poppins_bold;
  src: url(../assets/fonts/Poppins-Bold.woff2);
  font-weight: 700;
}
