//colors
$bg_gradient_top: #3482f6;
$bg_gradient_bottom: #dc4fff;
$black: #000000;
$white: #ffffff;
$bg_dark: #0d1931;
$primary: #7e44fa;
$red: #c94766;
$green: #67ed84;

//screenwidth
$w_xs: 448px;
$w_md: 768px;

//border radius
$br_sm: 0.5rem;
$br_l: 1rem;
$br_xl: 2rem;

//animation
$glow_duration: 1160ms;
$glow_delay: 145ms;

//fonts
$light: "poppins_light", sans-serif;
$regular: "poppins_regular", sans-serif;
$semi: "poppins_semi_bold", sans-serif;
$bold: "poppins_bold", sans-serif;
