//colors
$bg_gradient_top: #3482f6;
$bg_gradient_bottom: #dc4fff;
$black: #000000;
$white: #ffffff;
$bg_dark: #0d1931;

//screenwidth
$w_xs: 448px;
$w_md: 768px;

//border radius
$br_sm: 0.5rem;
$br_l: 1rem;
$br_xl: 2rem;
