.submitScore {
  padding: 1.5rem 1rem;
  margin: 0 auto;
  min-height: 400px;
  width: 90%;
  background-color: rgba($black, 0.5);
  border-radius: $br_l;
  text-align: center;

  &__title {
    font-family: $bold;
  }

  form {
    margin-top: 0.5rem;
  }

  input[name="name"] {
    margin-top: 0.5rem;
    padding: 0.75rem 2rem;
    display: block;
    width: 100%;
    border-radius: $br_sm;
    text-align: center;

    &:focus {
      outline: none;
      box-shadow: inset 0 0 0 2px $green;
    }
  }

  &__label {
    margin-top: 1.5rem;
    font-family: $light;
    font-size: 0.875rem;
  }

  &__avatarContainer {
    margin-top: 0.5rem;
    display: grid;
    gap: 0.75rem;
    grid-template-columns: repeat(6, 1fr);
  }

  input[type="radio"] {
    display: none;

    & + label {
      display: inline-block;
      width: 48px;
      aspect-ratio: 1 / 1;
      @include avatars;
      background-size: contain;

      &:hover {
        cursor: pointer;
        border: 2px solid $primary;
        border-radius: $br_xl;
      }
    }

    &:checked + label {
      border: 2px solid $green;
      border-radius: $br_xl;
    }
  }

  button[type="submit"] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem auto 0 auto;
    padding: 0.75rem 2rem;
    background-color: $primary;
    color: $white;
    border-radius: $br_xl;

    svg {
      margin-left: 1rem;
      width: 2rem;
    }
  }

  &__error {
    position: fixed;
    padding: 2rem;
    top: -100%;
    left: 0;
    right: 0;
    background-color: $red;
    transition: top 0.3s ease-in-out;

    &--show {
      top: 0;
    }

    h3 {
      font-weight: 900;
      text-decoration: underline;
    }

    ul li {
      padding: 0.5rem 0;
    }
  }

  &__added {
    margin-top: 3rem;
    padding-bottom: 2rem;
  }

  &__avatar {
    width: 7rem;
    height: 7rem;
    border: 2px solid $primary;
    border-radius: $br_full;
  }

  &__thanks {
    margin-top: 1rem;
  }

  &__congrats {
    margin-top: 1rem;
    font-size: 2rem;
    font-family: "luckiestGuy", sans-serif;
    font-weight: 400;
    color: $primary;
  }

  &__rank {
    margin-top: 2rem;

    span {
      font-size: 2rem;
      font-weight: 900;
    }
  }
}
