.timer {
  width: 5.5rem;
  margin: 2.5rem 0;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;

  &__bg,
  &__progress,
  &__time {
    position: absolute;
    overflow: visible;
  }

  &__bg {
    circle {
      stroke: rgba($white, 0.2);
    }
  }

  &__time {
    font-family: $bold;
    font-size: 1.5rem;
  }

  @keyframes timer {
    to {
      stroke-dashoffset: 0;
      stroke: $red;
    }
  }

  &__progress {
    rotate: -90deg;

    circle {
      stroke-dashoffset: 226;
      stroke-dasharray: 226;
      stroke: $primary;
    }

    &--play {
      circle {
        animation: timer 20s linear forwards;
      }
    }
  }
}
